body{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
  
}

.titulo-dash{
  margin-left: 15px;
}
//======= * MENU * =======//
menu {
  background: #18C29C;
  margin: 0;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  height: 100vh;
}
.foto_perfil{
  margin: 0 12px 0 0;
  height: 43px;
  border-radius:10px
}
.container_id_user{
  display: flex;
  align-items: center;
  margin: 0 0 12px 0;
  padding: 0;
  background-color: #8ED7C6;
  outline: 20px solid #8ED7C6;


  
}
.categorias_menu{

}
.menu_lateral{
  display: flex;
  flex-direction: column;
  
  height: 100vh;
}
.opções_menu{

  padding: 3px 0 3px 0;
  margin: 0 0 17px 0;
  border-radius: 5px;
  

  
  
}
.opções_menu:hover{
  background-color: #8ED7C6;
  outline: 8px solid #8ED7C6;
}
.info_user{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 12px;
}
.nome {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.funcao{
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.titulo_menu{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.textos_menu{
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
}
.icone_menu{
  display: inline-block;
  vertical-align: middle;
}
